name: Deploy Serverless App (Free Tier)

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::300052682080:role/github-serverless-ci-role
          aws-region: ap-south-1

      - name: Setup AWS SAM
        uses: aws-actions/setup-sam@v2

      - name: Build
        run: sam build

      - name: Deploy
        run: |
          sam deploy \
            --config-file /dev/null \
            --stack-name serverless-ci-cd \
            --s3-bucket serverless-ci-cd-artifacts-300052682080 \
            --s3-prefix serverless-ci-cd \
            --capabilities CAPABILITY_IAM \
            --no-confirm-changeset \
            --no-fail-on-empty-changeset


